﻿@{
    Layout = "~/Views/Shared/Super.cshtml";
}

@section TopMenu
{
    <li>@Html.ActionLink("Посты", "Index", "Post")</li>
    <li>@Html.ActionLink("Пересчитать тэги", "Recalc", "Tag")</li>
}

@RenderBody()