﻿@using AzureWebApplication.Application
@model AzureWebApplication.Models.Post

<div class="post">
    <h2>@Model.Title</h2>

    <div class="content">
        @Html.MarkDown(Model.Full)
    </div>

    <p>
        <small>@Model.CreateTime.ToShortDateString()</small>
    </p>
    @foreach (var tag in Model.Tags)
    {
        <a href="@Url.Action("Posts", "Tag", new {id = tag.Id})">
            <span class="glyphicon glyphicon-tag"></span> @tag.Name</a>
    }
</div>