﻿@using AzureWebApplication.Application
@model AzureWebApplication.Models.Post

<div class="post">
    <h2>@Model.Title</h2>

    <div class="content">
        @Html.MarkDown(Model.ShortDesc)
    </div>

    <p>
        <small>@Model.CreateTime.ToShortDateString()</small> 
    </p>
    <p><a class="btn btn-sm btn-default" href="@Url.Action("Post", "Home", new{id = Model.Id})">Читать полностью</a></p>
    @foreach (var tag in Model.Tags)
    {
        <a  href="@Url.Action("Posts", "Home", new { tagId = tag.Id })"><span class="glyphicon glyphicon-tag"></span> @tag.Name</a>
    }
</div>