﻿@model IEnumerable<AzureWebApplication.Models.Post>

@{
    ViewBag.Title = "Index";
}

<h2>Список постов</h2>

<p>
    @Html.ActionLink("Добавить", "Create", null, new {@class = "btn btn-success"})
</p>
<table class="table table-striped table-hover">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreateTime)
        </th>
        <th>
            Количество тэгов
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr onclick="window.location = '@Url.Action("Edit", new { id = item.Id })'">
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreateTime)
            </td>
            <td>
                @if (@item.Tags.Any())
                {
                    <a href="@Url.Action("Manage", "Tag", new {postId = item.Id})">@item.Tags.Count()</a>
                }
                <a href="@Url.Action("Add", "Tag", new {postId = item.Id})" class="btn btn-default btn-sm">
                    <span class="glyphicon glyphicon-plus"></span>
                </a>
            </td>
            <td>
                @if (item.Published)
                {
                    @Html.ActionLink("UnPublish", "UnPublish", new {id = item.Id}, new {@class = "btn btn-danger btn-sm"})
                }
                else
                {
                    @Html.ActionLink("Publish", "Publish", new {id = item.Id}, new {@class = "btn btn-success btn-sm"})
                }
                @Html.ActionLink("Delete", "Delete", new {id = item.Id}, new {@class = "btn btn-danger btn-sm"})
            </td>
        </tr>
    }

</table>