﻿
body {
    font-family: segoe ui, ubuntu, Helvetica Neue, Helvetica, Arial, s ans-serif, sans-serif !important;
}

    body h1 {
        font-family: segoe ui, ubuntu, Helvetica Neue, Helvetica, Arial, s ans-serif, sans-serif !important;
    }
