﻿@model AzureWebApplication.Models.Post
@{
    ViewBag.Title = "Тэги для поста";
}

<h2 class="page-header">@ViewBag.Title</h2>@Html.ActionLink("Добавить тэг", "Add", "Tag", new { postId = Model.Id }, new { @class = "btn btn-default btn-sm" })
<div class="row">
    <div class="col-md-12">

        <table class="table table-striped">
            <tbody>
            @foreach (var item in Model.Tags)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@Html.ActionLink("Удалить", "Delete", "Tag", new {postId = Model.Id, tagId = item.Id}, new {@class = "btn btn-danger"})</td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>