﻿@using System.Configuration
@{
    Layout = "Super.cshtml";
}

@section TopMenu
{
    <li>@Html.ActionLink("Обо мне", "About", "Home")</li>
    <li>@Html.ActionLink("Для потенциальных работодателей", "Cv", "Home")</li>
    @if (ConfigurationManager.AppSettings["dev"] != null || User.Identity.IsAuthenticated)
    {
        <li>
            <a href="@Url.Action("Index", "Post", new {area = "Admin"})">Админка</a>
        </li>
    }
}

<div class="row">
    <div class="col-md-9">
        @RenderBody()
    </div>
    <div class="col-md-3">
        @Html.Action("TagList", "Home")
    </div>
</div>