﻿@{
    ViewBag.Title = "Павельев Антон";
    var timeSpan = DateTime.Now - new DateTime(1990, 4, 21);
    var years = Math.Round(timeSpan.TotalDays / 365);
}
<h2>Обо мне</h2>
<p>Павельев Антон</p>
<p>Возраст: @years</p>
<p>Интересы в профессиональной области: web-разработка, enterprise приложения, мобильная разработка, gamedev.</p>
<p>Технологии: C#, asp net mvc, web api, html, css, jquery, ajax, angular, visual studio, unity.</p>
<p>Ранее: php, yii-framework, phpstorm.</p>

<h2>Профили</h2>
<p><a target="_blank" href="http://vk.com/antonpavelyev">vk.com</a></p>
<p><a target="_blank" href="https://twitter.com/PavelyevPro">twitter</a></p>
<p><a target="_blank" href="http://www.microsoftvirtualacademy.com/Profile.aspx?alias=3074245">Microsoft Virtual Academy</a></p>
