﻿ @{
    ViewBag.Title = "Резюме";
}

<div class="alert alert-warning">
    Резюме не обновлялось уже более года и сильно устарело. В настоящее время готов рассмотреть предложения по работе в команде ASP.NET MVC и похожих технологий
</div>

<h2 >Профессиональные навыки</h2>
<p>PHP: Основной язык программирования. Начал сразу с 5й версии в 2012 году. Из популярных библиотек: Curl, PHPExcel, PHPUnit, codeception, PHPQuery. Естественно ООП, паттерны проектирования. Пишу на фреймворке Yii. Хорошо знаю CMS Bitrix.</p>
<p>MYSLQ: В основном работал с СУБД mysql. Знаю что такое индексы, триггеры, транзакции, left outer join, having и другие страшные слова. Также расскажу вам чем отличается myisam от innodb и какой формат хранения выбрать для таблицы с логами. Также знаком с шардингом.</p>
<p>unix: Есть опыт работы с unix системами. Знаю стэк lamp, основные команды, популярные утилиты.</p>
<p>HTML/CSS: HTML5 верстка с использованием less. Макет средней сложности - не проблема, но углубляться в вёрстку - не барское дело)</p>
<p>JS: Библиотека jquery для ajax, селекторов, слайдеров, свистелок, окошек и т.д. Немного jquery UI. Но опять же - не барское это дело) В yii для бекенда используется twitter bootstrap, который вполне себе симпотичен для админок.</p>
<p>Системы контроля версий: работал с GIT и SVN.</p>

<h2 >Краткая история</h2>
<p>Начинал программировать с C и C++. Потом перешел на perl, потом уже на PHP. От перла в наследство досталось хорошее знание регулярных выражений. После первой работы (C++) начал фрилансить - понравился web. Хорошую ЗП в городе я не мог найти, на ЗП ниже чем была на C++ идти не хотелось, поэтому я начал фрилансить. Работал и как ИП и удаленно в других компаниях.</p>
<p>Сейчас мне хочется пойти по пути более серьёзной разработки, поэтому я ищу постоянную работу в компании.</p>