﻿@model IEnumerable<AzureWebApplication.Models.Post>

@{
    ViewBag.Title = "Главная страница";
}


@if (!Model.Any())
{
    <div class="jumbotron">
        <h1>Павельев Антон</h1>
        <p class="lead">Скоро тут будет мой личный блог</p>
        <p>
            <a href="@Url.Action("Cv")" class="btn btn-primary btn-lg">Для работодателя</a>
        </p>
    </div>
}


@foreach (var post in Model)
{
    @Html.DisplayFor(x => post, "ShortPost")
}