﻿@model IEnumerable<AzureWebApplication.Models.Tag>

<h3>О чем блог?</h3>
@foreach (var tag in Model)
{
    <p><a href="@Url.Action("Posts", "Home", new {tagId = tag.Id})">
        <span class="glyphicon glyphicon-tag"></span> @tag.Name (@tag.Count)
    </a></p>
}

